.navbar{
    display: flex;
    
    justify-content:space-around;
    width: 100%;
    
    
    
    }
    
    .navbar_links{
        display: flex;
        column-gap: 30px;
        align-items: center;
    
    }
    h1{
        font-size: 30px;
    }
    
    .page{
        color: orange;
    }
    .navbar_links >a{
      text-decoration: none;
    }
    
    
    .navbar_downloadbtn {
        display:flex;
        height: 20px;
        align-items: center;
        background-color: orange;
        padding: 5px 20px;  
        margin-top: 5px;
        border-radius: 20px;
       gap: 4px;
    }
    img{
        width: 12px;
       ;
    }
    .download{
        font-size: 12px;
    
    }
    .info{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
        gap: 30px;
        background-color: rgb(150, 187, 223);
    }
    .info_Ronald{
    width: 40%;
    
    padding-top: 100px;
    }
    .info_image{
        width: 40%;
        
        
    
    }
    .info_image >img{
        width: 100%;
        
    }
    .container{
        border: 1px solid black;
        width: 100%;
        height: 45px;
        align-items: center;
        background-color: #d0dce5;
    }
    .para{
        font-size: 12px;
    }
    .input{
        display: flex;
        display: inline-block;
        outline: none;
        
        outline: none !important;
        width: 75%;
        padding:13px;
        border:none;
        outline: none;
        background-color: transparent;
        
    
    }
    .button{
        width: 5px 10px;
        padding: 5px 20px;
        background-color: rgb(220, 58, 58);
        border-radius: 5px;
        padding-top: px;
        box-shadow: 3px 3px 3px black;
        
    }
    .about{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
    }
    .about_image >img{
        width: 100%;
        border-radius: 15px;
        
    }
    .about_image{
        width: 40%;
    }
    
    .chooseus{
    width: 40%;
    margin-top: 20px;
    }
    .chooseus_our{
        border-radius: 10px;
        padding: 5px 20px;
        background-color: rgb(224, 208, 143);
        border: 1.5px solid #ff7300;
        color: rgb(184, 33, 33)
           
    }
    ul,li{
        line-height: 30px;
    }
    li::marker{
        color:orange;
    }
    .services_main{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    /* background-color: #ff7300; */
    
    }
    .services{
    margin-top: 10px;
        /* background-color: aqua; */
       text-align: center;
    }
    .services2{
        
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
    
    }
    .business{
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        background-color: white;
    
        width: 25%;
        box-shadow: 3px 3px 3px 1px black;
        border-radius: 10px;
       margin-top: 30px;
        
    }
    .business1 >h1{
        font-size: 20px;
        
    }
    .business1 >p{
        font-size: 15px;
       
    }
    
    
    .one{
        background-color: hsl(60, 2%, 10%);
        padding: 10px 10px;
        border-radius: 5px;
        color: white;
        box-shadow: 2px 2px 2px black;
        height:3vh ;
    }